<!-- BEGIN-SNIPPET test-container -->
<li>
  <div class="collapsible-header {{if content 'teal lighten-4'}}">{{name}}</div>
  <div class="collapsible-body">
    {{component content}}
  </div>
</li>
<!-- END-SNIPPET -->
